.App {
  text-align: center;
}

.App-header {
  height: 100px;
  display: flex;
  width: 100%;
  background-image: linear-gradient(to bottom right, coral, palevioletred);
}

.App-navbar {
  display: flex;
}

.App-navbar ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-items: center;
}

.App-navbar ul li {
  margin-right: 1em;
}

.App-header a {
  text-decoration: none;
  font-size: 28px;
  color: white;
}

.App-products {
  max-width: 1000px;
  margin: 0 auto;
}

.Products-settings {
  margin: 2em 0;
}

.Products-settings Button {
  margin-right: 1em;
}

.Product-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Card-content {
  display: flex;
  flex-direction: column;
  height: 80px;
}

.Card-img {
  display: block;
  width: 240px;
  height: 350px;
}

.Card-title {
  overflow: hidden;
  width: 100%;
  height: 60px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.Card-button {
  height: auto;
}

.Add-form {
  width: 1000px;
  margin: 0 auto;
  height: 800px;
  display: flex;
  flex-direction: column;
}

.Add-form div {
  margin: 1em 0;
}